@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.status))
{
    if (ViewBag.status == "Exitoso")
    {
        <div style="color:green;">Grabado exitoso de la transferencia</div>
    }
    else
    {
        <div style="color:red;">Hubo un error al intentar grabar la transferencia</div>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/home/transfer" method="post">
    <label for="FromAccount" >From Account:</label>
    <input type="text" id="FromAccount" name="FromAccount" />
    <label for="ToAccount" >To Account:</label>
    <input type="text" id="ToAccount" name="ToAccount" />
    <label for="Amount">Amount:</label>
    <input type="text" id="Amount" name="Amount" />
    <input type="submit" name="Transfer" />
</form>